/*main*/

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.progress-app {
    width: 558px;
    height: 310px;
}

/*progress bar*/

.progress-bar__circles {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.progress-bar__value {
    -webkit-transition: stroke-dashoffset 1s linear;
    -o-transition: stroke-dashoffset 1s linear;
    transition: stroke-dashoffset 1s linear;
}

/*flex*/

.progress-app__flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.control-panel {
    margin-left: 15px;
}

/* контроллер */

.control-panel__switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
    outline: none;
}

.control-panel__value {
    width: 38px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 5px;
    outline: none;
}

.control-panel__switch input {
    display: none;
}

.control-panel__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4c4c4c;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    outline: none;
    border-radius: 34px;
}

.control-panel__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .control-panel__slider {
    background-color: #77eb10;
}

input:focus + .controlPanel__slider {
    -webkit-box-shadow: 0 0 1px #2196F3;
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .control-panel__slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.control-panel__switchLabel {
    position: absolute;
    left: 45px;
}

/*animation*/

@-webkit-keyframes test {
    from {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    to {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes test {
    from {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    to {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.progress-bar__animation {
    -webkit-animation-name: test;
    animation-name: test;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

/*hidden*/

.progress-bar__hidden {
    visibility: hidden;
}

/*media*/

@media all and (orientation: portrait) {
    .progress-app {
        width: 310px;
        height: 550px;
    }

    .progress-app__flexContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 350px;
        width: 300px;
    }

    .control-panel {
        margin-top: 15px;
    }
}